@import 'tailwindcss';

/* 공식 디폴트 테마 참조 : https://tailwindcss.com/docs/theme#default-theme-variable-reference
// 정의해놓은거 외에는 공식에서 정의해 놓은 것들 그대로 사용가능합니다.

// --radius-sm: 4px
// --radius-md: 6px
// --radius-lg: 8px
*/

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-pretendard), sans-serif;
  --font-pretendard: var(--font-pretendard), sans-serif;
  --font-paperlogy-semi-bold: var(--font-paperlogy-semi-bold), sans-serif;
  --font-paperlogy-regular: var(--font-paperlogy-regular), sans-serif;
}

@theme {
  /* Typography */
  --text-typo-big-title: 1.75rem;
  --text-typo-big-title--line-height: 2.275rem;
  --text-typo-big-title--font-weight: 700;
  --text-typo-big-title--letter-spacing: -0.03em;

  --text-typo-title: 1.5rem;
  --text-typo-title--line-height: 2rem;
  --text-typo-title--font-weight: 600;
  --text-typo-title--letter-spacing: -0.03em;

  --text-typo-sub-title: 1.25rem;
  --text-typo-sub-title--line-height: 1.875rem;
  --text-typo-sub-title--font-weight: 600;
  --text-typo-sub-title--letter-spacing: -0.03em;

  --text-typo-base: 1rem;
  --text-typo-base--line-height: 1.5rem;
  --text-typo-base--font-weight: 400;
  --text-typo-base--letter-spacing: -0.03em;

  --text-typo-base-bold: 1rem;
  --text-typo-base-bold--line-height: 1.5rem;
  --text-typo-base-bold--font-weight: 600;
  --text-typo-base-bold--letter-spacing: -0.03em;

  --text-typo-description: 0.875rem;
  --text-typo-description--line-height: 1.25rem;
  --text-typo-description--font-weight: 400;
  --text-typo-description--letter-spacing: -0.03em;

  --text-typo-caption: 0.75rem;
  --text-typo-caption--line-height: 1rem;
  --text-typo-caption--font-weight: 400;
  --text-typo-caption--letter-spacing: -0.03em;

  /* Colors - brand-blue */
  --color-brand-blue-50: #edf3ff;
  --color-brand-blue-100: #c9dcff;
  --color-brand-blue-200: #a6c3ff;
  --color-brand-blue-300: #7aa3fd;
  --color-brand-blue-400: #5187fc;
  --color-brand-blue-500: #3676f5;
  --color-brand-blue-600: #3465d7;
  --color-brand-blue-700: #3a5ebb;
  --color-brand-blue-800: #264697;
  --color-brand-blue-900: #1c3575;

  /* Colors - brand-gray */
  --color-brand-gray-0: #ffffff;
  --color-brand-gray-50: #f9f9fb;
  --color-brand-gray-100: #eff1f5;
  --color-brand-gray-200: #e4e7ec;
  --color-brand-gray-300: #b9c0d4;
  --color-brand-gray-400: #7d89af;
  --color-brand-gray-500: #5d6b98;
  --color-brand-gray-600: #4a5578;
  --color-brand-gray-700: #404968;
  --color-brand-gray-800: #30374f;
  --color-brand-gray-900: #111322;

  /* Colors - single */
  --color-bg-sub-blue: #466abf;
  --color-neon-green: #d0f65e;

  /* Colors - login */
  --color-login-title: #101828;
  --color-login-label: #344054;
  --color-login-caption: #475467;
  --color-login-placeholder: #667085;
  --color-login-description: #f2f4f7;

  /* Colors - tag */
  --color-tag-red-text: #e95c58;
  --color-tag-red-stroke: #fed4d2;
  --color-tag-red-fill: #fdf0f0;
  --color-tag-green-text: #29991f;
  --color-tag-green-stroke: #d7efc2;
  --color-tag-green-fill: #f6ffe2;
  --color-tag-yellow-text: #ffaa0d;
  --color-tag-yellow-stroke: #fff2bf;
  --color-tag-yellow-fill: #ffffed;
  --color-tag-purple-text: #7968e8;
  --color-tag-purple-stroke: #d7c9ff;
  --color-tag-purple-fill: #f4f0ff;
  --color-tag-hotpink-text: #ef3dba;
  --color-tag-hotpink-stroke: #fdcef3;
  --color-tag-hotpink-fill: #ffedfa;

  /* Box Shadow */
  --shadow-medium: 0 4px 8px -2px rgba(16, 24, 40, 0.1), 0 2px 4px -2px rgba(16, 24, 40, 0.06);
  --shadow-large: 0 12px 16px -4px #10182814, 0 4px 6px -2px rgba(16, 24, 40, 0.03);

  /* Border Radius */
  --radius-sm: 4px;
  --radius-md: 6px;
  --radius-lg: 8px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

/* input autofill 설정 */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s; /* 색 전환 애니메이션 제거 */
}

@layer components {
  /* 공용 버튼 기본 스타일 */
  .btn-small {
    @apply w-32 h-12 rounded-sm text-typo-base box-border font-medium;
  }
  .btn-medium {
    @apply w-32 h-10 rounded-sm text-typo-base box-border;
  }

  /* 공유 링크 모달 스타일 */
  .modal-overlay {
    @apply fixed inset-0 h-full w-full bg-[rgba(38,38,38,0.5)] flex items-center justify-center z-1000;
  }
  .modal-input {
    @apply flex flex-1 bg-brand-gray-100 py-3 px-4 gap-2.5 text-typo-description text-brand-gray-700 items-center rounded-sm border box-border border-gray-200 outline-none;
  }
  .modal-button {
    @apply flex items-center justify-center bg-brand-blue-700 text-typo-base text-brand-gray-0 max-w-32 px-12.5 py-3 gap-2 rounded-sm cursor-pointer;
  }
}

/* 배경 점 패턴 */
@utility bg-dot-pattern {
  background-image: radial-gradient(circle, #cddbfb 1.3px, transparent 2px);
  background-size: 26px 26px;
}
